@base: #ffccab;

body{
  background-color: @base;
}
#board{
  width: 420px;
}
.square{
  float: left;
  width: 50px;
  height: 50px;
  margin: 0;
  border: 1px solid #252525;
  background-color: #fff;
  color: #252525;
}

.s{
  background-color: black;
}

.p{
  background-color: pink;
}

.g{
  background-color: gold;
}

.e{
  background-color: blue;
}

.h{
  background-color: gray;
}

.u{
  background-color: orange;
}

h5.true {
  background-color: black;
}