form#game(action='/game/start', method='post')
  fieldset
    legend New Game
    .row
      mixin field(6, 'user', null, null, 'Umberto', true)
      .small-6.columns: button.radius.success.small.expand(type='submit') start
    .row