form#game(action='/game/start', method='post')
  fieldset
    .row
      mixin field(6, 'user', null, null, 'Major Tom', true)
      .small-6.columns: button.radius.small.expand(type='submit') Start Your Adventure
    .row